p {
    font-family: 'Gupter', serif;
}
button {
    font-family: 'Baskervville', serif;
}
#true {
    color: green;
}
#false {
    color: red;
}
#create {
    color: blue;
}
.green {
  width: 100px;
  height: 100px;
  background-color: white;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {background-color: green;}
  to {background-color: white;}
}

/* Standard syntax */
@keyframes example {
  from {background-color: green;}
  to {background-color: white;}
}
.red {
  width: 100px;
  height: 100px;
  background-color: white;
  -webkit-animation-name: exampleA; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: exampleA;
  animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes exampleA {
  from {background-color: red;}
  to {background-color: white;}
}

/* Standard syntax */
@keyframes exampleA {
  from {background-color: red;}
  to {background-color: white;}
}
